body {
  width: 100vw;
  box-sizing: border-box;
}

article {
  position: absolute;
  left: 20%;
  right: 20%;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
}

.social-media-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.social-media-list > li {
  width: 27px;
  height: 27px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
  cursor: pointer;
}

.social-media-list > li:hover {
  background-color: #fff;
}

.social-media-list > li > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.9) translate(-50%, -50%);
}

.fig-description {
  color: #666;
}

.fig-author {
  color: #888;
}
